.container {
  display: flex;
  align-items: center;
  gap: 20px;
  grid-area: 3 / 1 / 4 / 4;
  border-radius: 25px;
  padding: 16px;
  background: url('../../assets/images/gradient-1.jpg') no-repeat center center;
}

.image {
  width: 70px;
  height: 70px;
}

.title {
  font-size: 15px;
  margin-bottom: 5px;
}
.description {
  font-size: 13px;
}
.description:not(:last-child) {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .container {
    grid-area: 5 / 1 / 6 / 1;
  }
}

@media (max-width: 580px) {
  .container {
    grid-area: 7 / 1 / 8 / 1;
  }
  .image {
    width: 50px;
    height: 50px;
  }
  .title {
    font-size: 14px;
    margin-bottom: 3px;
  }
  .description {
    font-size: 11px;
  }
}
