.container {
  display: flex;
  flex-direction: column;
}
.top-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.weather-image {
  width: 90px;
  height: 90px;
  margin-bottom: 12px;
}
.temperature {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 500;
}
.clouds-description {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  font-size: 14px;
}
.image-description {
  width: 20px;
}
.bottom-container {
  padding: 20px 0 0;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
}

.location-icon {
  width: 20px;
}

.calendar-icon {
  width: 15px;
  height: 15px;
  margin-left: 2px;
}

@media (max-width: 768px) {
  .weather-image {
    margin-bottom: 0px;
    position: absolute;
    top: 0px;
    right: 10px;
    height: 130px;
    width: 130px;
  }
  .clouds-description {
    margin-bottom: 50px;
    font-size: 18px;
  }
  .image-description {
    width: 30px;
  }
  .top-container {
    position: relative;
  }
  .temperature {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flex:first-child {
    margin-right: 12px;
  }
  .flex:last-child {
    margin-left: 12px;
  }
  .location-icon {
    width: 30px;
  }

  .calendar-icon {
    width: 22px;
    height: 22px;
    margin-left: 2px;
  }
  .flex p {
    font-size: 20px;
  }
}
@media (max-width: 580px) {
  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather-image {
    position: static;
    width: 140px;
    height: 140px;
    margin-left: -16px;
  }
  .clouds-description {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .flex {
    margin: 0;
  }
  .flex p {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .weather-image {
    width: 120px;
    height: 120px;
  }
  .clouds-description {
    margin-bottom: 10px;
  }
  .temperature {
    margin-bottom: 10px;
  }
  .bottom-container {
    padding-top: 10px;
    flex-direction: column;
    gap: 15px;
  }

  .calendar-icon {
    margin-bottom: 6px;
  }
  .flex p {
    font-size: 14px;
    text-align: center;
  }
}
