.additional-card-1 {
  grid-area: 3 / 1 / 4 / 4;
}
.additional-card-2 {
  grid-area: 3 / 4 / 4 / 7;
}

.additional-card {
  background: var(--bg-gradient-1);
  padding: 12px 16px;
  border-radius: 8px;
  position: relative;
}
.additional-card svg {
  width: 28px;
  color: var(--text-color);
  position: absolute;
  top: 30px;
  right: 15px;
}

.title {
  font-size: 13px;
  margin-bottom: 12px;
  font-weight: 500;
}
.value {
  font-size: 20px;
  margin-bottom: 5px;
}
.value span {
  font-size: 16px;
}
.description {
  font-size: 11px;
}

@media (max-width: 768px) {
  .title {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .value {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
@media (max-width: 580px) {
  .additional-card-1 {
    grid-area: 3 / 1 / 4 / 1;
  }
  .additional-card-2 {
    grid-area: 6 / 1 / 7 / 1;
  }
}
