.input {
  height: 40px;
  background-color: transparent;
  color: #000;
  padding: 10px;
  font-size: 20px;
  position: relative;
  border-bottom: 2px solid grey;
  flex: 1 1 auto;
}
.input:focus {
  /* з використання аутлайну та додаванням бордер-радіусу робиться аутлайн заокруглений */
  outline: 1px solid #beb8b8;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .input {
    width: 290px;
  }
}

@media (max-width: 500px) {
  .input {
    width: 190px;
    font-size: 16px;
    padding: 5px;
  }
}

@media (max-width: 375px) {
  .input {
    width: 175px;
  }
}
