.loader-container {
  height: 459px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 90px;
  height: 90px;
  border: 9px solid #6fb2c6;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 500px) {
  .loader-container {
    height: 293px;
  }
  .loader {
    height: 60px;
    width: 60px;
  }
}
