* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background: rgb(50, 50, 152);
  background: linear-gradient(45deg, rgba(50, 50, 152, 1) 32%, rgba(192, 232, 240, 1) 100%);
}

#root {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.location-image {
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  .form {
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .location-image {
    width: 25px;
    height: 25px;
  }
  .form {
    margin-bottom: 20px;
  }
}
