.card-item {
  border-radius: 10px;
  width: 600px;
  background-color: rgb(224, 218, 218);
  padding: 30px;
  box-shadow: 0px 0.5px 8px #a0bad0;
  text-align: center;
}

@media (max-width: 768px) {
  .card-item {
    width: 450px;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .card-item {
    width: 350px;
    padding: 10px;
  }
}

@media (max-width: 375px) {
  .card-item {
    width: 280px;
  }
}
