.input-container {
  position: relative;
  margin-bottom: 20px;
}
.input {
  width: 100%;
  padding: 15px 45px 15px 15px;
  font-size: 18px;
  border-radius: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.button {
  position: absolute;
  top: 9px;
  right: 10px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
}

.input:focus {
  outline: none;
  border: none;
}
.input:focus::placeholder {
  color: var(--text-color);
}
.input::placeholder {
  font-size: 14px;
}

.button svg {
  color: var(--text-color);
  width: 33px;
  height: 33px;
}
@media (max-width: 768px) {
  .input {
    font-size: 16px;
  }
}
