.modal {
  background: var(--bg-gradient-1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 9px;
  padding: 70px 50px 10px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 200;
  transition: all 0.5s;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.image {
  width: 150px;
  height: 180px;
  display: block;
  margin: 0 auto;
  color: var(--text-color);
}

.text {
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 10px;
}
.button {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
}
.button svg {
  width: 40px;
  height: 40px;
  color: var(--text-color);
  transition: all 0.3s ease 0s;
}
.button:hover svg {
  color: rgb(191, 59, 59);
}
@media (max-width: 768px) {
  .modal {
    width: 300px;
    padding: 50px 50px 10px;
  }
  .image {
    width: 100px;
    height: 150px;
  }
  .text {
    font-size: 16px;
  }
  .button,
  .button svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 425px) {
  .modal {
    width: 240px;
  }
  .image {
    width: 80px;
    height: 110px;
  }
  .text {
    font-size: 14px;
  }
  .button,
  .button svg {
    width: 25px;
    height: 25px;
  }
}
