.starter {
  border-radius: 25px;
  width: 60%;
  padding: 20px;
  background-color: var(--bg-color);
  position: relative;
}
.container {
  background: var(--bg-gradient-2);
  padding: 30px 10px 20px;
  border-radius: 25px;
}
.title {
  font-size: 30px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 10px;
}
.icons-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}
.icons {
  font-size: 30px;
  text-align: center;
}

.icons-right {
  animation: moveLeft 1.5s ease-out;
}
.icons-left {
  animation: moveRight 1.5s ease-out;
}
@media (max-width: 768px) {
  .starter {
    width: 80%;
  }
  .title {
    font-size: 25px;
  }
}
@media (max-width: 580px) {
  .starter {
    width: 90%;
    font-size: 20px;
  }
  .title {
    font-size: 20px;
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-280px);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(280px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  @keyframes moveLeft {
    0% {
      opacity: 0;
      transform: translateX(-120px);
    }

    50% {
      opacity: 1;
      transform: translateX(0);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes moveRight {
    0% {
      opacity: 0;
      transform: translateX(120px);
    }
    50% {
      opacity: 1;
      transform: translateX(0);
    }
    75% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media (max-width: 480px) {
  @keyframes moveRight {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    50% {
      opacity: 1;
      transform: translateX(0);
    }
    75% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes moveLeft {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }

    50% {
      opacity: 1;
      transform: translateX(0);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
