.card-starter {
  position: absolute;
  top: 38px;
  left: 35px;
}
.card-board {
  position: absolute;
  top: 21px;
  right: 30px;
}
.button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
.button svg {
  color: #fff;
  transition: all 0.3s ease 0s;
}

@media (any-hover: hover) {
  .button svg:hover {
    color: #2875a9;
  }
}
